.mainContainer {
    display: flex;
    height: 100%;
    align-items: center;
    align-content: stretch;
}

.contentContainer {
    position: relative;
    flex: 1;
    margin-left: 25px;
    margin-right: 25px;
}