// Menu Item Variables
// The number of items in the menu
$menu-items: 4;
// We multiply it by 1% to get the correct % unit


$size: 35%;
$height: 15%;

// Colors
$background-color: #121212;
$indicator-color: #e82d00;


.navbar {
    padding: 0;
    margin-left: 25px;
    height: $size;

    flex-basis: 13%;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    position: relative;
}

.navlist {
    position: relative;
    padding: 0;
    margin: 0;
    list-style-type: none;

    flex: 1;
}

.navitem {
    display: flex;
    height: $height;

    align-items: center;
    justify-content: center;



    &:hover {
        color: $indicator-color;
        font-size: 1.1em;
    }

    & a {
        color: $background-color;
        text-decoration: none;
        text-align: center;
        width: 100%;
    }

    & a.isActive {
        color: $indicator-color !important;
    }
}

.slider {
    position: absolute;
    width: 100%;
    height: $height;
    top: 0;
    z-index: -1;
    background: #121212;
}