// Menu Item Variables
// The number of items in the menu
$menu-items: 4;
// We multiply it by 1% to get the correct % unit


$size: 35%;
$height: 15%;


.navbar {
    padding: 0;
    margin-left: 1%;
    height: $size;

    flex-basis: 13%;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    position: relative;
}

.navlist {
    position: relative;
    padding: 0;
    margin: 0;
    list-style-type: none;

    flex: 1;
}

.navitem {
    display: flex;
    min-width: 100px;
    height: $height;

    align-items: center;
    justify-content: center;
    z-index: 2;



    &:hover {
        color: var(--highlight-color);
        font-size: 1.1em;
    }

    & a {
        color: var(--highlight-color);
        text-decoration: none;
        text-align: center;
        font-weight: bold;
        width: 100%;
        z-index: 2;
    }

    & a.isActive {
        color: var(--background-color);
    }
}

.slider {
    position: absolute;
    width: 100%;
    height: $height;
    top: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.innerSlider {
    flex: 0.5;
    background: var(--highlight-color);
    height: 50%;
    width: 25%;
    border-radius: 5px;
}